<?php
/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Airhotels
 * @version     0.2.9
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2014 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 *
 */
?>
<?php
/**
 * Summary of the page
 *
 * This page has been used to process the checkout properties, Product special prices,
 * and calculating the tax informations for cart properties
 *
 */
$itemValue = $this->getItem();

/**
 * unserializing the product options
 */
$details = unserialize($itemValue['product_options']);


   /**
    * Iterating Loop
    */
foreach($details as $det){
	$hourlyProductId= $det['hourly_product_id'];
/**
     * Extracting the $det array
     */
$accomodate = (int) $det['accomodate'];
/**
getting todate
 */
$checkOut= $det['todate'];
/**
Getting Fromdate
 */
$checkIn = $det['fromdate'];
/**
Getting service fee
 */
$serviceFee = $det['serviceFee'];
        /**
         * Check wether the property has been set
         */
        if( isset($det['property_service_from'], $det['property_service_from_period'],$det['property_service_to']) && isset($det['property_service_to_period'],$det['overall_total_hours'],$det['hourly_night_fee']) ){
        /**
         * Extracting the total hours, service from date and to Date from the $det Array
         */
        $propertyServiceFromPeriod = $det['property_service_from_period'];
        $propertyServiceFrom = $det['property_service_from'];
        /**
         * Get the Overall Total Hours
         */
        $overallTotalHours =  $det['overall_total_hours'];
        $propertyServiceTo = $det['property_service_to'];
        /**
         * Get the Hourly Night Fee
         */
        $hourlyNightFee =  $det['hourly_night_fee'];
        /**
         *  Get the property service to period Value
         */
        $propertyServiceToPeriod = $det['property_service_to_period'];
        /**
         * Check the Value of 'per_hour_night_fee' Value
         */
        if(isset($det['hourly_night_fee'])){
        $perHourNightFee = $det['hourly_night_fee'];
        }
        }
     }
     ?>
     <?php
     /**
      * Get id
      */

     ?>
<tr class="border first_table_data" id="order-item-row-<?php echo $itemValue->getId() ?>">
    <td width="40%">
    <h3 class="product-name">
    <?php
    /**
     * Get Property Name
     */

    ?>
          <?php echo $this->htmlEscape($itemValue->getName()); ?>
     </h3>
<div>
<!--  Check in Property  -->
<strong><?php echo Mage::helper('airhotels')->__('Check In') ?> : </strong>
<?php echo str_replace('@','/', $checkIn);
/**
 * check propertyServiceFrom, propertyServiceFromPeriod is empty
 */
if(isset($propertyServiceFrom) && isset($propertyServiceFromPeriod)){
/**
 * Echoing the value of '$propertyServiceFrom', '$propertyServiceFromPeriod';
 */
echo ' - '.$propertyServiceFrom.' '.$propertyServiceFromPeriod;
} ?>
</div><div>
<!--  Check out Property  -->
<strong><?php echo Mage::helper('airhotels')->__('Check Out') ?> : </strong>
<?php echo str_replace('@','/', $checkOut);
/**
 * check propertyServiceFrom, propertyServiceFromPeriod is not an empty,
 * and print the values
 */
if(isset($propertyServiceTo) && isset($propertyServiceToPeriod)){
echo ' - '.$propertyServiceTo.' '.$propertyServiceToPeriod;
} ?>
</div>
<?php
/**
 * check weather the accomodate value is greater than zero
 */
if($accomodate > 0){ ?>
<div>
<!--  Accomodate Property  -->
<strong><?php echo Mage::helper('airhotels')->__('Accommodate(s)') ?> : </strong>
<?php echo $accomodate;?></div>
<?php } ?>


<!--  Processing Fee Property
<div>
<strong><?php echo Mage::helper('airhotels')->__('Processing Fee') ?> : </strong>
<?php echo $this->getOrder()->formatPrice($serviceFee);?>
</div>
-->
        <?php
        /**
         * getting the $addtInfoBlock value
         */
        $addtInfoBlock = $this->getProductAdditionalInformationBlock(); ?>
        <?php
        /**
         * AddInfoBlock With the Values
         */
        if ($addtInfoBlock) :?>
            <?php echo $addtInfoBlock->setItem($itemValue)->toHtml(); ?>
        <?php endif; ?>
        <?php echo $this->htmlEscape($itemValue->getDescription()) ?>
        <?php if($this->helper('giftmessage/message')->getIsMessagesAvailable('order_item', $itemValue) && $itemValue->getGiftMessageId()): ?>
            <a  id="order-item-gift-message-link-<?php echo $itemValue->getId() ?>" href="#" class="gift-message-link"
            onclick="return giftMessageToogle('<?php echo $itemValue->getId() ?>')">
            <?php echo $this->__('Gift Message') ?>
            </a>
        <?php endif; ?>
    </td>
    <td style="text-align:center !important;"><?php
     /**
      * get the SKU value and add print it
      */
    echo $this->htmlEscape(Mage::helper('core/string')->splitInjection($this->getSku())) ?></td>
    <td class="a-right">
        <?php
        /**
         * Make sure the tex values are set
         * The tax Calculation has been used the properties of added products
         */
        if ($this->helper('tax')->displaySalesBothPrices() || $this->helper('tax')->displaySalesPriceExclTax()): ?>
            <span class="price-excl-tax">
                <?php if ($this->helper('tax')->displaySalesBothPrices()): ?>
                    <?php if (!Mage::helper('weee')->typeOfDisplay($this->getItem(), array(1, 4), 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
                        <span class="cart-price">
                    <?php endif; ?>
                        <span class="label">
                        <?php echo $this->__('Excl. Tax'); ?>:
                        </span>
                    <?php if (!Mage::helper('weee')->typeOfDisplay($this->getItem(), array(1, 4), 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
                        </span>
                    <?php endif; ?>
                <?php endif; ?>
                <?php
                /**
                 * Check weather the value of 'typeofDispaly'
                 */
                if (Mage::helper('weee')->typeOfDisplay($this->getItem(), array(1, 4), 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
                    <span class="cart-tax-total" onclick="taxToggle('eunit-item-tax-details<?php echo $this->getItem()->getId(); ?>', this, 'cart-tax-total-expanded');">
                <?php else: ?>
                    <span class="cart-price">
                <?php endif; ?>

                    <?php
                    /**
                     * Get the Value of 'tax' Value.
                     */
                    if (Mage::helper('weee')->typeOfDisplay($this->getItem(), array(0, 1, 4), 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
                        <?php echo $this->getOrder()->formatPrice($this->getItem()->getPrice()+$this->getItem()->getWeeeTaxAppliedAmount()+$this->getItem()->getWeeeTaxDisposition()); ?>
                    <?php else: ?>
                        <?php echo $this->getOrder()->formatPrice($this->getItem()->getPrice()) ?>
                    <?php endif; ?></span>
     <?php if (Mage::helper('weee')->getApplied($this->getItem())): ?>
                   <!-- starts calculating the Tax Value  -->
                    <span  id="eunit-item-tax-details<?php echo $this->getItem()->getId(); ?>" style="display:none;" class="cart-tax-info">
                        <?php if (Mage::helper('weee')->typeOfDisplay($this->getItem(), 1, 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()){ ?>
                            <small>
                            <?php foreach (Mage::helper('weee')->getApplied($this->getItem()) as $taxAmount): ?>
                                <span class="nobr">
                                <?php echo $taxAmount['title']; ?>:
                                <?php echo $this->getOrder()->formatPrice($taxAmount['amount']); ?></span>
                            <?php endforeach; ?>
                            </small>
                        <?php }
                        if (Mage::helper('weee')->typeOfDisplay($this->getItem(), 2, 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()){ ?>
                            <?php foreach (Mage::helper('weee')->getApplied($this->getItem()) as $tax): ?>
                                <span class="nobr"><small>
                                <?php echo $tax['title']; ?>:
                                <?php echo $this->getOrder()->formatPrice($tax['amount_incl_tax']); ?></small>
                                </span>
                            <?php endforeach; ?>
                        <?php }
                        if (Mage::helper('weee')->typeOfDisplay($this->getItem(), 4, 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()){ ?>
                            <small>
                            <?php foreach (Mage::helper('weee')->getApplied($this->getItem()) as $tax): ?><span class="nobr">
                                <?php echo $tax['title']; ?>:
                                <?php echo $this->getOrder()->formatPrice($tax['amount_incl_tax']); ?>
                                </span><?php endforeach; ?></small>
                        <?php } ?>
                    </span>
<!-- Ends calculating the Tax Value  -->
                    <?php if (Mage::helper('weee')->typeOfDisplay($this->getItem(), 2, 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
                        <span onclick="taxToggle('eunit-item-tax-details<?php echo $this->getItem()->getId(); ?>', this, 'cart-tax-total-expanded');" class="cart-tax-total" >
                            <span class="nobr">
                            <?php echo Mage::helper('weee')->__('Total'); ?>:<br />
                             <?php echo $this->getOrder()->formatPrice($this->getItem()->getPrice()+$this->getItem()->getWeeeTaxAppliedAmount()+$this->getItem()->getWeeeTaxDisposition()); ?></span>
                        </span>
                    <?php endif; ?>
                <?php endif; ?>
            </span>
            <br />
        <?php endif; ?>
        <!--  Calculating the Taxes  -->
        <?php if ($this->helper('tax')->displaySalesBothPrices() || $this->helper('tax')->displaySalesPriceInclTax()): ?>
            <span class="price-incl-tax">
                <?php if ($this->helper('tax')->displaySalesBothPrices()): ?>
                   <?php if (!Mage::helper('weee')->typeOfDisplay($this->getItem(), array(1, 4), 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
                        <span class="cart-price">
                    <?php endif; ?><span class="label">
                        <?php echo $this->__('Incl. Tax'); ?>:</span>
                    <?php if (!Mage::helper('weee')->typeOfDisplay($this->getItem(), array(1, 4), 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
                        </span><?php endif; ?>
                <?php endif; ?>
                <?php $_incl = $this->helper('checkout')->getPriceInclTax($this->getItem()); ?>
                <?php if (Mage::helper('weee')->typeOfDisplay($this->getItem(), array(1, 4), 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
                    <span class="cart-tax-total" onclick="taxToggle('unit-item-tax-details<?php echo $this->getItem()->getId(); ?>', this, 'cart-tax-total-expanded');">
                <?php else: ?>
                    <span class="cart-price"><?php endif; ?>

                    <?php if (Mage::helper('weee')->typeOfDisplay($this->getItem(), array(0, 1, 4), 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
                        <?php echo $this->getOrder()->formatPrice($_incl+$this->getItem()->getWeeeTaxAppliedAmount()); ?>
                    <?php else: ?>
                        <?php echo $this->getOrder()->formatPrice($_incl-$this->getItem()->getWeeeTaxDisposition()) ?>
                    <?php endif; ?></span>


                <?php if (Mage::helper('weee')->getApplied($this->getItem())): ?>

                    <span class="cart-tax-info" id="unit-item-tax-details<?php echo $this->getItem()->getId(); ?>" style="display:none;">
                        <?php if (Mage::helper('weee')->typeOfDisplay($this->getItem(), 1, 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()){ ?>
                            <small>
                            <?php foreach (Mage::helper('weee')->getApplied($this->getItem()) as $taxVal): ?>
                                <span class="nobr">
                                <?php echo $taxVal['title']; ?>:
                                <?php echo $this->getOrder()->formatPrice($taxVal['amount']); ?></span>
                            <?php endforeach; ?>
                            </small>
                        <?php }
                        if (Mage::helper('weee')->typeOfDisplay($this->getItem(), 2, 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()){ ?>
                            <?php foreach (Mage::helper('weee')->getApplied($this->getItem()) as $taxValue): ?>
                                <span class="nobr">
                                <small><?php echo $taxValue['title']; ?>:
                                <?php echo $this->getOrder()->formatPrice($taxValue['amount_incl_tax']); ?>
                                </small></span>
                            <?php endforeach; ?>
                        <?php }
                        if (Mage::helper('weee')->typeOfDisplay($this->getItem(), 4, 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()){ ?>
                            <small><?php foreach (Mage::helper('weee')->getApplied($this->getItem()) as $itemTax): ?>
                                <span class="nobr">
                                <?php echo $itemTax['title']; ?>:
                                <?php echo $this->getOrder()->formatPrice($itemTax['amount_incl_tax']); ?>
                                </span><?php endforeach; ?>
                            </small><?php } ?></span>

                    <?php if (Mage::helper('weee')->typeOfDisplay($this->getItem(), 2, 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
                        <span class="cart-tax-total" onclick="taxToggle('unit-item-tax-details<?php echo $this->getItem()->getId(); ?>', this, 'cart-tax-total-expanded');">
                            <span class="nobr">
                            <?php echo Mage::helper('weee')->__('Total incl. tax'); ?>:
                            <br />
                            <?php echo $this->getOrder()->formatPrice($_incl+$this->getItem()->getWeeeTaxAppliedAmount()); ?></span>
                        </span><?php endif; ?>
                <?php endif; ?>
            </span><?php endif; ?>
    </td>

<td style="text-align: center !important;">
<?php if(isset($overallTotalHours)){ ?>
<?php
    echo $overallTotalHours;
    /**
     * Make sure the HOurly Night Fee is enable
     */
    if(isset($hourlyNightFee)){
       if($hourlyNightFee >= 1){
     echo ' <span>['.$this->__('Excluded night hour(s)').']</span>';
     }
    }
?>
<?php }else{
/**
 * Getting qty ordered
 */
 ?>
   <span class="nobr">
          <?php if ($this->getItem()->getQtyOrdered() > 0): ?>
            <?php echo $this->__('Ordered'); ?>: <strong>
            <?php echo $this->getItem()->getQtyOrdered()*1 ?>
            </strong><br />
        <?php endif; ?>
        <?php
        /**
         * check shipped qty is greater than zero
         */

        ?>
        <?php if ($this->getItem()->getQtyShipped() > 0): ?>
            <?php echo $this->__('Shipped'); ?>: <strong>
            <?php echo $this->getItem()->getQtyShipped()*1 ?>
            </strong><br />
        <?php endif; ?>
         <?php
        /**
         * check  qty canceled is greater than zero
         */

        ?>
        <?php if ($this->getItem()->getQtyCanceled() > 0): ?>
            <?php echo $this->__('Canceled'); ?>: <strong>
            <?php echo $this->getItem()->getQtyCanceled()*1 ?>
            </strong><br />
        <?php endif; ?>
         <?php
        /**
         * check  qty refunded is greater than zero
         */

        ?>
        <?php if ($this->getItem()->getQtyRefunded() > 0): ?>
            <?php echo $this->__('Refunded'); ?>: <strong>
            <?php echo $this->getItem()->getQtyRefunded()*1 ?>
            </strong><br />
        <?php endif; ?>
        </span>
<?php } ?>

    </td>
    <?php
    /**
     * Get Pernight fee
     */
    ?>
<!-- <?php  if(isset($perHourNightFee) && $perHourNightFee >=1 ){   ?>
     <td class="a-right"> <?php echo $this->getOrder()->formatPrice($perHourNightFee); ?> </td>
    <?php }else{ if(isset($hourlyNightFee) && isset($hourlyProductId)){ ?>
    <td class="a-right"> <?php //echo $this->__('N/A'); ?> </td>
  <?php } } ?> -->


    <td colspan="2" class="a-right">
        <?php if ($this->helper('tax')->displaySalesBothPrices() || $this->helper('tax')->displaySalesPriceExclTax()): ?>
            <span class="price-excl-tax">
                <?php if ($this->helper('tax')->displaySalesBothPrices()): ?>
                    <?php if (!Mage::helper('weee')->typeOfDisplay($this->getItem(), array(1, 4), 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
                        <span class="cart-price">
                    <?php endif; ?> <span class="label">
                        <?php echo $this->__('Excl. Tax'); ?>:</span>
                    <?php if (!Mage::helper('weee')->typeOfDisplay($this->getItem(), array(1, 4), 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
                        </span>
                    <?php endif; ?>
                <?php endif; ?>
                <?php if (Mage::helper('weee')->typeOfDisplay($this->getItem(), array(1, 4), 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
                    <span class="cart-tax-total" onclick="taxToggle('esubtotal-item-tax-details<?php echo $this->getItem()->getId(); ?>', this, 'cart-tax-total-expanded');">
                <?php else: ?><span class="cart-price">
                <?php endif; ?>

                    <?php if (Mage::helper('weee')->typeOfDisplay($this->getItem(), array(0, 1, 4), 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
                        <?php echo $this->getOrder()->formatPrice($this->getItem()->getRowTotal()+$this->getItem()->getWeeeTaxAppliedRowAmount()+$this->getItem()->getWeeeTaxRowDisposition()); ?>
                    <?php else: ?>
                        <?php echo $this->getOrder()->formatPrice($this->getItem()->getRowTotal()) ?>
                    <?php endif; ?></span>


                <?php if (Mage::helper('weee')->getApplied($this->getItem())): ?>

                    <span class="cart-tax-info" id="esubtotal-item-tax-details<?php echo $this->getItem()->getId(); ?>" style="display:none;">
                        <?php if (Mage::helper('weee')->typeOfDisplay($this->getItem(), 1, 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()){ ?>
                            <small>
                            <?php foreach (Mage::helper('weee')->getApplied($this->getItem()) as $taxedItem): ?>
                                <span class="nobr"><?php echo $taxedItem['title']; ?>:
                                 <?php echo $this->getOrder()->formatPrice($taxedItem['row_amount']); ?></span>
                            <?php endforeach; ?>
                            </small>
                        <?php }
                        if (Mage::helper('weee')->typeOfDisplay($this->getItem(), 2, 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()){ ?>
                            <?php foreach (Mage::helper('weee')->getApplied($this->getItem()) as $taxedValue): ?>
                                <span class="nobr">
                                <small>
                                <?php echo $taxedValue['title']; ?>:
                                <?php echo $this->getOrder()->formatPrice($taxedValue['row_amount_incl_tax']); ?>
                                </small></span>
                            <?php endforeach; ?>
                        <?php }
                        if (Mage::helper('weee')->typeOfDisplay($this->getItem(), 4, 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()){ ?>
                            <small><?php foreach (Mage::helper('weee')->getApplied($this->getItem()) as $tax): ?>
                                <span class="nobr">
                                <?php echo $tax['title']; ?>:
                                <?php echo $this->getOrder()->formatPrice($tax['row_amount_incl_tax']); ?>
                                </span>
                            <?php endforeach; ?>
                            </small><?php }?>
                    </span>

                    <?php if (Mage::helper('weee')->typeOfDisplay($this->getItem(), 2, 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
                        <span class="cart-tax-total" onclick="taxToggle('esubtotal-item-tax-details<?php echo $this->getItem()->getId(); ?>', this, 'cart-tax-total-expanded');">
                            <span class="nobr">
                            <?php echo Mage::helper('weee')->__('Total'); ?>:<br />
                            <?php echo $this->getOrder()->formatPrice($this->getItem()->getRowTotal()+$this->getItem()->getWeeeTaxAppliedRowAmount()+$this->getItem()->getWeeeTaxRowDisposition()); ?></span>
                        </span><?php endif; ?>
                <?php endif; ?>
            </span><br /><?php endif; ?>
        <?php if ($this->helper('tax')->displaySalesBothPrices() || $this->helper('tax')->displaySalesPriceInclTax()): ?>
            <span class="price-incl-tax"> <?php if ($this->helper('tax')->displaySalesBothPrices()): ?>
                   <?php if (!Mage::helper('weee')->typeOfDisplay($this->getItem(), array(1, 4), 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
                        <span class="cart-price"><?php endif; ?> <span class="label">
                       <?php echo $this->__('Incl. Tax'); ?>:
                       </span>
                    <?php if (!Mage::helper('weee')->typeOfDisplay($this->getItem(), array(1, 4), 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?></span>
                       <?php endif; ?>
        <?php endif; ?>
                <?php $_incl = $this->helper('checkout')->getSubtotalInclTax($this->getItem()); ?>
                <?php if (Mage::helper('weee')->typeOfDisplay($this->getItem(), array(1, 4), 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
                    <span onclick="taxToggle('subtotal-item-tax-details<?php echo $this->getItem()->getId(); ?>', this, 'cart-tax-total-expanded');"  class="cart-tax-total" >
                <?php else: ?>
                    <span class="cart-price">
                 <?php endif; ?>
                    <?php if (Mage::helper('weee')->typeOfDisplay($this->getItem(), array(0, 1, 4), 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
                        <?php echo $this->getOrder()->formatPrice($_incl+$this->getItem()->getWeeeTaxAppliedRowAmount()); ?>
                    <?php else: ?>
                        <?php echo $this->getOrder()->formatPrice($_incl-$this->getItem()->getWeeeTaxRowDisposition()) ?>
                    <?php endif; ?></span>


                <?php if (Mage::helper('weee')->getApplied($this->getItem())): ?>

                    <span class="cart-tax-info" id="subtotal-item-tax-details<?php echo $this->getItem()->getId(); ?>" style="display:none;">
                        <?php if (Mage::helper('weee')->typeOfDisplay($this->getItem(), 1, 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()){ ?>
                            <small>
                            <?php foreach (Mage::helper('weee')->getApplied($this->getItem()) as $tax): ?>
                                <span class="nobr"><?php echo $tax['title']; ?>:
                                 <?php echo $this->getOrder()->formatPrice($tax['row_amount']); ?></span>
                            <?php endforeach; ?>
                            </small>
                        <?php }
                        if (Mage::helper('weee')->typeOfDisplay($this->getItem(), 2, 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()){ ?>
                            <?php foreach (Mage::helper('weee')->getApplied($this->getItem()) as $calculateTax): ?>
                                <span class="nobr"> <small><?php echo $calculateTax['title']; ?>:
                                <?php echo $this->getOrder()->formatPrice($calculateTax['row_amount_incl_tax']); ?>
                                </small></span>
                            <?php endforeach; ?>
                        <?php }
                        if (Mage::helper('weee')->typeOfDisplay($this->getItem(), 4, 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()){ ?>
                            <small>
                            <?php foreach (Mage::helper('weee')->getApplied($this->getItem()) as $tax): ?>
                                <span class="nobr">
                                <?php echo $tax['title']; ?>:
                                <?php echo $this->getOrder()->formatPrice($tax['row_amount_incl_tax']); ?>
                                </span>
                            <?php endforeach; ?>
                            </small>
                        <?php } ?>
                    </span>
</span>
<?php
/**
 * Get Sub total
 */
?>
     <?php if (Mage::helper('weee')->typeOfDisplay($this->getItem(), 2, 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
                        <span class="cart-tax-total" onclick="taxToggle('subtotal-item-tax-details<?php echo $this->getItem()->getId(); ?>', this, 'cart-tax-total-expanded');">
                            <span class="nobr">
                            <?php echo Mage::helper('weee')->__('Total incl. tax'); ?>:
                            <br />
                            <?php echo $this->getOrder()->formatPrice($_incl+$this->getItem()->getWeeeTaxAppliedRowAmount()); ?>
                            </span>
                        </span>
                    <?php endif; ?>
                <?php endif; ?></span>
        <?php endif; ?>
    </td>

    <!--
    <?php if ($this->helper('tax')->displaySalesBothPrices() || $this->helper('tax')->displaySalesPriceExclTax()): ?>
    <th class="a-right">
    <?php echo $this->getOrder()->formatPrice($this->getItem()->getRowTotal()) ?>
    </th>
    <?php endif; ?>
    <?php if ($this->helper('tax')->displaySalesBothPrices() || $this->helper('tax')->displaySalesPriceInclTax()): ?>
    <th class="a-right">
    <?php echo $this->getOrder()->formatPrice($this->helper('checkout')->getSubtotalInclTax($this->getItem())); ?>
    </th>
    <?php endif; ?>
    -->
    <?php
       $propertyOrderStatus = Mage::helper('airhotels/vieworder')->getPropertyOrderStatus($this->getItem()->getOrderId());
            
       $currentDate = strtotime(date ( 'Y-m-d H:i:s'));
       $bookedTime =  strtotime($propertyOrderStatus['checkin_time']);
       $orderCancelStatusFlag = Mage::getStoreConfig ( 'airhotels/custom_group/order_cancel_request' );
       
       foreach ($this->getOrder()->getCreditmemosCollection() as $createdMemo) {
       	$crediMemoState = $createdMemo->getState();
       }
       if(($currentDate < $bookedTime || $propertyOrderStatus['cancel_request_status'] == 0) && ($this->getOrder()->getStatusLabel() != 'Canceled' && $orderCancelStatusFlag == 1) && $crediMemoState != 2){
    ?>
      <td>
    <?php if($propertyOrderStatus['cancel_request_status'] == 0){ ?>
        <a href="<?php echo Mage::getUrl('airhotels/order/cancelrequest/order_id/'.$this->getItem()->getOrderId())?>">Cancel Request</a>
        <?php }elseif($propertyOrderStatus['cancel_request_status'] == 1){
      			echo $this->helper('airhotels')->__('Cancel Request Sent');
      		  }elseif($propertyOrderStatus['cancel_request_status'] == 2){
      		  	echo $this->helper('airhotels')->__('Order Canceled');
      		  }
      	?>
</td>
    <?php }?>
</tr>
