<?php 
/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Airhotels
 * @version     0.2.9
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2014 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 *
 */
?>
    <meta http-equiv="Content-Type" content="<?php echo $this->getContentType() ?>">
    <title>
        <?php echo $this->getTitle() ?>
    </title>
    <?php 
    /**
     * Getting Api key from configuration.
     * @var unknown
     */
    $googleApiKey = Mage::getStoreConfig ( 'airhotels/custom_group/airhotels_googlemapapi' ); ?>
    <meta name="description" content="<?php echo htmlspecialchars($this->getDescription()) ?>">
    <meta name="keywords" content="<?php echo htmlspecialchars($this->getKeywords()) ?>">
    <meta name="robots" content="<?php echo htmlspecialchars($this->getRobots()) ?>">
    <link rel="icon" href="<?php echo $this->getFaviconFile(); ?>" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Abel">
    <link rel="shortcut icon" href="<?php echo $this->getFaviconFile(); ?>" type="image/x-icon">
    <link href='http://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Abel%7CKaushan%20Script">
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=geometry,places&amp;v=3.22&key=<?php echo $googleApiKey; ?>"></script> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-566ec3a601bea51e" async="async"></script>
    <!--[if lt IE 7]>
<script type="text/javascript">
//<![CDATA[
    var BLANK_URL = '<?php echo $this->helper('core/js')->getJsUrl('blank.html') ?>';
    var BLANK_IMG = '<?php echo $this->helper('core/js')->getJsUrl('spacer.gif') ?>';
//]]>
</script>
<![endif]-->

    <script type="text/javascript">
        //<![CDATA[
        var BASEURL_JS = '<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB); ?>';
        //]]>
    </script>

    <?php echo $this->getCssJsHtml() ?>
        <?php echo $this->getChildHtml() ?>
            <?php echo $this->helper('core/js')->getTranslatorScript() ?>
                <?php echo $this->getIncludes() ?>