<?php

/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Airhotels
 * @version     0.2.9
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2014 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 *
 */
/**
 * Initilizing experience data
 */
$currentExperienceId 		= Mage::getSingleton('customer/session')->getCurrentExperienceId();
$urlPath	=	$_gallery 	= $imageCount= $thumbImageUrl="";
if($currentExperienceId) {
	$_product 		= Mage::getModel ( 'catalog/product' )->load ($currentExperienceId);
	$urlPath 		= $_product->getUrlPath();
	$thumbImageUrl 	= $_product->getImage();
	$_gallery 		= Mage::getModel('catalog/product')->load($currentExperienceId)->getMediaGalleryImages();
	$imageCount 	= Mage::getModel('catalog/product')->load($currentExperienceId)->getMediaGalleryImages()->count();
}
$currencyCode 		= Mage::app ()->getStore ()->getCurrentCurrencyCode ();
$currencySymbol 	= Mage::app ()->getLocale ()->currency ( Mage::app ()->getStore ()->getCurrentCurrencyCode () )->getSymbol ();
$currentUrl 		= Mage::helper('core/url')->getCurrentUrl();
$request 			= $this->getRequest('step');
$controllerAction 	= $request->getActionName();
$action				= $this->getRequest()->getParam('step');
?>
<div id="rooms">
	<div id="room" class="clearfix">
		<div id="content_view">
			<div id="left_columns">
				<div id="main_contents" class="box listanexperience_tabsection">
					<ul id="main_content_sub_nav" class="rooms_sub_nav clearfix">
						<li onclick="return select_tab(&#39;basic&#39;);"
							class="<?php if($action=="basics" || $action==""){echo "selected";} ?>"><a
							href="javascript:void(0)"><i class="airhotel-sprite file icon_size"></i><span
								class="form_menu_title"><?php echo $this->__('Basic') ?></span><i
								class=""></i></a></li>
						<li onclick="return select_tab(&#39;photos&#39;);"
							class="<?php if($action=="photos"){echo "selected";} ?>"><a
							href="javascript:void(0)"> <i class="airhotel-sprite camera icon_size"></i><span
								class="form_menu_title"><?php echo $this->__('Photos') ?></span></a></li>
						<!--  <li onclick="return select_tab(&#39;profile&#39;); "
							class="<?php if($action=="profile"){echo "selected";} ?>"><a
							href="javascript:void(0)"><i class="airhotel-sprite user icon_size"></i><span
								class="form_menu_title"><?php echo $this->__('Profile') ?></span></a></li>-->
						<li onclick="return select_tab(&#39;publish&#39;)"
							class="<?php if($action=="publish"){echo "selected";} ?>"><a
							href="javascript:void(0)"><i class="airhotel-sprite check icon_size"></i><span
								class="form_menu_title"><?php echo $this->__('Publish') ?></span></a></li>
					</ul>
					<!-- preview button -->
                    <?php if($action!="basic"){ if(!empty($urlPath)){ ?>
                    <a class="preview_experience" id="preview_experience" href="<?php echo Mage::getUrl().$urlPath;?>" target="_blank"><i class="airhotel-sprite search icon_size"></i><span class="form_menu_title">Preview</span></a>
                    <?php } }else{ if($currentExperienceId){ ?>
                    <a class="preview_experience" id="preview_experience" href="<?php echo Mage::getUrl().$urlPath;?>" target="_blank"><i class="airhotel-sprite search icon_size"></i><span class="form_menu_title">Preview</span></a>
                    <?php    }} ?>
                    <!-- preview button ends-->
				</div>
			</div>
		</div>
	</div>
</div>
<div class="wrapper_c">
	<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
	<!--  List an experience tab starts -->
	<div id="example-embed">
             <?php if($action=='basic'|| $action==''){echo $this->getChildHtml('basic_form');}
             elseif($action=='photos'){echo $this->getChildHtml('photos_form');}
             elseif($action=='profile'){echo $this->getChildHtml('profile_form');}
             elseif($action=='payment'){echo $this->getChildHtml('payment_form');}
             elseif($action=='publish'){echo $this->getChildHtml('publish_form');}
             else{echo $this->getChildHtml('basic_form');}
			?>
		</div>
</div>
<!-- wrapper ends -->
<script type="text/javascript">    
  	var jQ = jQuery.noConflict();
  	jQ("#propertyadd").focus(function() {autoCompleteFlag = false; });
  	jQ("#selected_tab").val("");
    var changeContentValue='no'; //If change any field value means  changeContentValue set as yes otherwise no.
    var basicForm = new VarienForm('basic_form', true);
    var profileForm = new VarienForm('profile_form', true);
    var paymentForm = new VarienForm('payment_form', true);
    jQ(function() {
	    var variablePhpToJs='<?php echo $action;?>';
	    if(variablePhpToJs=="basic" || variablePhpToJs=="") {
		    jQ('#basic_form [rel="popover"]').popover({
			    trigger: 'focus',
			    html: true
		    });
		    jQ('#basic_form [rel="popover"]').focusout(function() {
				jQ('#basic_form [rel="popover"]').attr('style','display:block !important');
		    });
		}
    });
    function select_tab(selectedTab) {
		jQ("#selected_tab").val(selectedTab);
		var variablePhpToJs='<?php echo $currentExperienceId;?>';
		var variablePhpToJsAction='<?php echo $action;?>';
		var thumbImageUrlPhpToJs='<?php echo $thumbImageUrl;?>';
		if(selectedTab==variablePhpToJsAction) {
			return false;
		}
		if(variablePhpToJsAction=="photos"){
			if((jQ("[name='album_path']:checked").length != 0) && (thumbImageUrlPhpToJs=="")){
				changeContentValue='yes';	// If change any field value means changeContentValue set as yes otherwise no.
			}
		}		
		if(changeContentValue=='no' && variablePhpToJs!="") {
			if(variablePhpToJsAction=="photos" && selectedTab!='basic'){
				if(jQ("[name='album_path']:checked").length ==0 && jQ(".more-views input:checkbox:checked").length == 0){
	        		 jQ("#image_upload_error").show();
	          		 return false;
	       		}
	        }	      
			if(variablePhpToJsAction=="basic"){
    			checkValue();			
    			if(checkValue() != false){
        			window.location='<?php echo Mage::getBaseUrl();?>property/property/form/step/'+selectedTab+'/';
        			return true;
    			}
			}else{
				window.location='<?php echo Mage::getBaseUrl();?>property/property/form/step/'+selectedTab+'/';
    			return true;
			}
		}else {
			changeContentValue='no'; //If change any field value means changeContentValue set as yes otherwise no.
		if(variablePhpToJs==""){
    		variablePhpToJsAction="basic";
            jQ("#"+variablePhpToJsAction+"_submit").trigger('click');            
			return false;
		} else {				
				BootstrapDialog.confirm({
	            title: 'UNSAVED CHANGES',
	            message: 'Would like discard all changes, Would you like to save them ?',
	            type: BootstrapDialog.TYPE_WARNING, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
	            closable: false, // <-- Default value is false
	            draggable: false, // <-- Default value is false
	            btnCancelLabel: 'DISCARD', // <-- Default value is 'Cancel',
	            btnOKLabel: 'SAVE', // <-- Default value is 'OK',
	            btnOKClass: 'btn-primary', // <-- If you didn't specify it, dialog type will be used,
		            callback: function(result) {
		                // result will be true if button was click, while it will be false if users close the dialog directly.
		                if(result) {
		                	jQ("#"+variablePhpToJsAction+"_submit").trigger('click');		                	
							return false;
		                }else {		                	
		                	return false;
	                		window.location='<?php echo Mage::getBaseUrl();?>property/property/form/step/'+selectedTab+'/';
			            }
			         }
			   });
			}
		}
		if(variablePhpToJsAction=="basic" || variablePhpToJsAction==""){
			variablePhpToJsAction="basic";
			var experienceName=jQ("#name").val();
			var experienceLocation=jQ("#propertyadd").val();
			var experienceDescription=jQ("#description").val();
			var experienceType=jQ("#property_type").val();
			var experienceLanguage = "";
			jQ('input[name^="language"]:checked').each(function() {
				experienceLanguage += jQ(this).val();
			});
			checkValue();
		}
	}
    function contentChanges()
    {
    	changeContentValue='yes'; //If change any field value means changeContentValue set as yes otherwise no.
	}
	var geocoder;
	var autoCompleteFlag;
	var map,city,state,country;
	var experienceId= '<?php echo $currentExperienceId;?>';
	var bool = true;
	function initialize() {
		var address = document.getElementById("propertyadd").value;		
		geocoder = new google.maps.Geocoder();
		if(bool===true && experienceId) {
			bool=false;
		var currentLatitude = jQ("#latitude").val();
		var currentLongitude = jQ("#longitude").val();
		mapLogic (currentLatitude,currentLongitude,address);
		}
		else {
			geocoder.geocode( { 'address': address}, function(results, status) {
				  if (status == google.maps.GeocoderStatus.OK) {					  
				    var currentLatitude = results[0].geometry.location.lat();
				    var currentLongitude = results[0].geometry.location.lng();
					mapLogic (currentLatitude,currentLongitude,address);
				  } 
			});
		}
	}
	function initializeAutocomplete() {	    
	    var input = document.getElementById('propertyadd');	    
	    var autocomplete = new google.maps.places.SearchBox(input);        
	    // Autocomplete.
	    google.maps.event.addDomListener(autocomplete,'places_changed', function() {  
	    	autoCompleteFlag = true; 
	    	initialize();
	    });
	    function setupClickListener(id, types) {
	        var radioButton = document.getElementById(id);
	        google.maps.event.addDomListener(radioButton, 'click', function() {
	            autocomplete.setTypes(types);
	        });
	    }
	}
	google.maps.event.addDomListener(window, 'load', initialize);
</script>