
<?php

/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Airhotels
 * @version     0.2.9
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2014 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 *
 */
?>
<?php
$customerId = Mage::getSingleton('customer/session')->getId();
/**
 * Get logged in customer data
 * Get customer profile picture
 */
$customerData = Mage::getModel('airhotels/product')->getCustomerPictureById($customerId);
$customerVideoType = $customerData[0]["video_type"];
$customerVideoUrl = $customerData[0]["video_url"];
$attribute_code = "video_type";
$attribute_details = Mage::getSingleton("eav/config")->getAttribute("catalog_product", $attribute_code);
$customerVideoTypeLabel = $attribute_details->getSource()->getOptionText($customerVideoType); 
?>

<div class="my-account">
<div class="profilepic_upload_container">
<form role="form"  action="<?php echo Mage::getBaseUrl(); ?>/property/property/uploadphoto" method="post" id="form-validate-profile" enctype="multipart/form-data">
    <h1 class="dashboard_leftside_heading profilepicture_titles"><?php echo $this->__('Profile Picture') ?></h1>
    <div class="profile_picture_image_section" style="padding:10px;">
        <div class="clear"></div>
        <div class="form-list profile_image_only clearfix">
            <div class="fields">
                <div id="profile_img">
                <?php
                if(!empty($customerData[0]["imagename"])) {
                    $imageUrl = Mage::getBaseUrl('media') . "catalog/customer/" . $customerData[0]["imagename"];
                    echo "<img src='$imageUrl' id='cropbox' /> ";
                }
                else{?>
                    <img src="<?php echo $this->getSkinUrl('images/no_user.jpg') ?>"  alt="" class="no_user"/>
                <?php } ?>
                </div>
                <div class="profile_picture_right"><p><?php echo $this->__("Clear frontal face photos are an important way for hosts and guest to learn about each other. It's not much fun to host a landscape! Please upload a photo that clearly shows your face.");?></p>
                <?php
                $ie9 = (preg_match("/MSIE 9/", $_SERVER["HTTP_USER_AGENT"])) ? true : false;
                $ie8 = (preg_match("/MSIE 8/", $_SERVER["HTTP_USER_AGENT"])) ? true : false;
                if (!$ie9 && !$ie8 && !Mage::helper('airhotels/mobile')->isMobile()){
                ?>
            <div class="profile_picture_delete_button">
            <?php if(!empty($customerData[0]["imagename"])) { ?>
            <button id='deletePhoto' type='submit' name='deleteimage' value="1" title='"<?php echo $this->__('Delete'); ?>"' ><?php echo $this->__('Delete'); ?></button>
            <?php } ?>
           <input id="sample_image" type="hidden" name="crop[image]" class="btn-primary">
            </div>
            <?php } ?>
            </div>
            <button style="display:none !important;" type="submit" title="<?php echo $this->__('Update profile image') ?>" id="update_image" class="button right des_button"><?php //echo $this->__('Update profile image') ?></button>
          </div>
        </div>
    </div>
</form>
<div class="profile_video_section" style="margin:30px 0 0 0;">
<h1 class="dashboard_leftside_heading profilepicture_titles"><?php echo $this->__("Profile Video");?></h1>
					<?php if(!empty($customerVideoUrl)) {
									if($customerVideoTypeLabel=="Youtube") {
	                     				$getYoutubeID = explode("v=",$customerVideoUrl);
	                     				if(count($getYoutubeID)>1) {
	                     					$getYoutubeID = explode("&",$getYoutubeID[1]);
	                     				} else {
											$getYoutubeID = explode("/",$customerVideoUrl);
											$count = count($getYoutubeID);
											$getYoutubeID = array($getYoutubeID[$count-1]);
										}
	                     				?>
	                     				<iframe class="profile_video_iframe" style="width: 100%;height:380px" src="https://www.youtube.com/embed/<?php echo $getYoutubeID[0];?>"></iframe><?php
									 }else if($customerVideoTypeLabel=="Vimeo") {
									 		$getVimeoID = explode("/",$customerVideoUrl);
									 		$count = count($getVimeoID); ?>
										<iframe class="profile_video_iframe" style="width: 100%;height:380px;" src="https://player.vimeo.com/video/<?php echo $getVimeoID[$count-1];?>" frameborder="0"></iframe><?php									 										}
									 } ?>
	<form action="<?php echo Mage::getBaseUrl()."property/invitefriends/profilevideosave" ?>" name="form" method="post" id="form-validate" onsubmit="return saveVideoUrl();">
						<?php $attribute_code = "video_type";
	            		$attribute_details = Mage::getSingleton("eav/config")->getAttribute("catalog_product", $attribute_code);
						$options = $attribute_details->getSource()->getAllOptions(false); ?>
						<div class="profile_video_type_url">
						<div class="inner_profile_video_type clearfix">
						<div class="video_type">
						<h3><?php  echo $this->__('Video Type :');?></h3>
						<ul class="clearfix profilevideotypelist">
						<?php
						$increment = 0;
						$video_typye = 0;
	                 	Foreach($options as $option){ ?>
	                    	<li class="profile_video_types">
	                    	<input style="outline:none;" id="video_type_<?php echo $option["value"];?>" <?php if($videoType){ if($videoType==$option["value"]) { echo 'checked="true"'; $video_typye = $option["value"];} } else { if($increment == 0) {echo "checked='true'";$video_typye = $option["value"];}}?> onclick="changeVideoType(<?php echo $video_typye;?>,<?php echo $option["value"];?>,'<?php echo $videoUrl; ?>')" name="video_type" type="radio" title ="<?php echo $this->__($option["label"]);?>" value="<?php echo $option["value"]; ?>">
	                    	<label class="videohead_label" for="video_type_<?php echo $option["value"];?>"><i class="sprimg"></i><span class="video_type_label"><?php echo $this->__($option["label"]); if($option["label"] == "Videourl"){ echo " (mp4 or webm or ogg)";}?></span></label>
	                    	</li>
	                  	<?php  $increment++; } ?>
	                  	</ul>
	                  	</div>
	                  	</div>
						<div class="inner_profile_video">
						<p style="margin: 0 0 20px 0;line-height:20px;">Videos are worth a billion words. Make your experience stand out
							by adding a link to a Youtube or Youku or Vimeo or Tencent video or Videourl</p>
							<input name="video_url" id="video_url" value="<?php echo $videoUrl;?>" class="input_width" type="text" placeholder="Link to video (Youtube or Youku or Vimeo or Tencent)(Optional)" onchange="videoUrlChange()"/>
							<input type="hidden" id="current_video_url" value="<?php echo $videoUrl;?>"/>
							<input type="submit" id="save_video_url" name="save_video_url" value="Save"  />
							<span id="video_url_msg" style="display:none;"></span>
						</div>
						</div>
					</div>
					</form>
</div>
</div>
<script type="text/javascript">
   //<![CDATA[
       var dataForm = new VarienForm('form-validate');
   //]]>
</script>
<?php
if (!$ie9 && !$ie8 && !Mage::helper('airhotels/mobile')->isMobile()){
?>
<script>
function required(){
var empt = document.forms["form"]["profileVideo"].value;
if (empt == ""){
alert("Please select a Video file.");
return false;
}
}
jQ = jQuery.noConflict();
jQ(document).ready(function () {
    jQ('#sample_image').awesomeCropper(
    { width: 200, height: 200, debug: true }
    );
    jQ(".btn-primary").click(function(){
        jQ("#update_image").trigger("click");
        jQ('.awesome-cropper img').hide();
    });
    jQ("#deletePhoto").click(function(){
        if(confirm('<?php echo $this->__('Are you sure want to remove?'); ?>')){
                return true;
        }
        return false;
    });
});
<?php } ?>
</script>
<script type="text/javascript">
function saveVideoUrl() {
	var video_url	= document.getElementById("video_url").value;
	var video_type 	= jQ('input[name=video_type]:checked').val();
	var video_label = jQ( "input[name=video_type]:checked" ).attr( "title" );
	if(video_url!="" && video_type!=""){
		var youtubematches 	= video_url.match(/^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=|\?v=)([^#\&\?]*).*/);
		var vimeomatches 	= video_url.match(/vimeo.com/);
		if((video_label == 'Youtube' && youtubematches) || (video_label == 'Vimeo' && vimeomatches)){
					return true;
		} else {
			jQ("#video_url_msg").html("isn't a link to a video that we recognize.");
			jQ("#video_url_msg").addClass("video_url_error");
			jQ("#video_url_msg").removeClass("video_url_success");
			jQ("#video_url_msg").show().fadeOut(5000); //fadeOut(5000)- in this text will hide after 5 seconds.
			return false;
		}
	}else{
		jQ("#video_url_msg").html("Please enter the video url.");
		jQ("#video_url_msg").addClass("video_url_error");
		jQ("#video_url_msg").removeClass("video_url_success");
		jQ("#video_url_msg").show().fadeOut(5000); //fadeOut(5000)- in this text will hide after 5 seconds.
		return false;
	}
}
function changeVideoType(checked,selctedOtion,url){
	if(checked == selctedOtion){
		jQ("#video_url").val(url);
		jQ("#remove_link").css("display","block");
		
	}else{
		jQ('#remove_url').prop('checked', false);
		jQ("#remove_link").css("display","none");
		jQ("#video_url").val('');	
	}
}
function videoUrlChange() {
	jQ("#current_video_url").val("");
}
</script>